<div class="row">
    <div class="col-sm-3 col-md-4 m-3">
                    
        <div class="card my-card border border-curved text-center" routerLink="/placeorder">
              <div class="card-body">
                  <h4 class="card-title card-text">Place Order</h4>
              </div>
        </div>
        
    </div>
    
    <div class="col-sm-3 col-md-4 m-3">
        
        <div class="card my-card border border-curved text-center" routerLink="/giftcards">
            <div class="card-body">
                <h4 class="card-title card-text">Gift Cards</h4>
            </div>
        </div>
        
    </div>
</div>
