
        <div class="col-sm-0"></div>
        <div class="col-12 col-sm-8 col-md-9 col-lg-10 p-5 pb-5 mb-5">
        <!-- <form> -->
            <h5 class="main text-center">
                <strong>Contact us</strong>
            </h5>

            <label for="">Name</label>
            <input type="text" id="" class="form-control">

            <label>Email:</label>
            <input type="email" id="" class="form-control">

            <label for="">Subject</label>
            <select class="form-control">
                <option value="" disabled>Choose option</option>
                <option value="1" selected>Feedback</option>
                <option value="2">Report a bug</option>
            </select>

            <label for="">Message:</label>
            <textarea id="" class="form-control" rows="3"></textarea>

            <div class="form-check py-2">
                <input type="checkbox" class="form-check-input" id="">
                <label class="form-check-label" for="materialContactFormCopy">Send me a copy of this message</label>
            </div>

            <button class="btn btn-block btn-outline-success" type="submit">Send</button>

            <!-- </form> -->
            
        
        </div>
    




